PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=open_banking_hub
DB_USER=postgres
DB_PASS=postgres

# External URLs
KC_URL=http://localhost:8080
KC_REALM=openbanking
KC_CLIENT_ID=hub-client
KC_CLIENT_SECRET=hub-secret-123

# Seeding
SEED_DEMO_DATA=true

# Public URLs (Important for Callbacks)
HUB_PUBLIC_URL=http://localhost:3000
APP_PORTAL_URL=http://localhost:5000
